.payfriends {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #2F82DD;
  }

  .payColorLogo {
    color: #002D69;
  }
  
  .pay {
    color: #F8F8F8;
    margin-left: 8px;
  }