.container {
  background: #002D69;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 48px;
  padding-right: 48px;
}

.logout {
  display: flex;
  align-items: center;
  text-decoration: none;
	float: right;
  color: white;
  width: 45px;
  font-weight: 100;
  transition: width .35s;
  -webkit-transition: width .35s;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    width: 150px;
  }
}

.profilePicture {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}